.menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* background-color: antiquewhite; */
    
    /* border: solid 2px red; */
}

.menu__title{
    font-size: 30px;
    color: #555;
    /* color: red; */
    margin: 0 10px 0 10px;
    
}

.article__title{
    color: #555;
    padding: 7.5px 13px 0px;
    margin: 0;
    /* color: red; */
}

.post {
    display: flex;
    flex-direction: column;
    /* gap: 5 px; */
    margin: 10px 10px 10px 10px;
    border: solid red 3px;
    /* background-color: antiquewhite; */
    
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



.reacmore__link {
    /* box-sizing: border-box;
    width: 100%;
    padding: 7.5px 15px;
    border: none;
    cursor: pointer;
    color: teal;
    background-color: white;
    border: 1px solid teal;
    margin: 10px;
    padding: 15px 10px 15px 10px; */
    padding: 0 15px 7.5px;
    font-size: 20px;
    color: teal;
    text-decoration: none !important ;
}


/* button:hover {
    border: 1px solid white;
    background-color: lightGreen;
    color: black;
    
} */