@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

:root {
  --header-font: "Poppins", sans-serif;
  --content-font: "Source Serif Pro", serif;
  --headerfont-color: #383838;
  --contentfon-color: #7a7a7a;
}

.div_container_govService {
  /* margin: 40px 30px; */
  /* font-family: var(--header-font) !important; */
  /* border: solid 2px rgb(3, 247, 190); */
  /* background-color: rgb(246, 249, 251); */
  background-color: rgb(246, 249, 251);
}

.gov--service--header {
  /* border: solid 2px purple; */
  /* font-family: var(--content-font) !important; */
}

.gov__service__header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--header-font) !important;
  color: var(--font-color);
}

.gov__service__header__title h2 {
  font-family: var(--header-font) !important;
  /* border: 1px solid pink; */
  text-shadow: 1px 1px #474242;
}

.gov__service__header__description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
  border-left: 1px gray solid;
  font-family: var(--font-family-content);
  color: var(--contentfon-color);
}

@media only screen and (min-width: 600px) {
  .gov__service__header__description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10px;
    border-left: 1px gray solid;
    font-family: var(--font-family-content);
    color: var(--contentfon-color);
  }
}

.gov__service__header__description p {
  font-family: var(--header-font) !important;
}

#gov_service_header_button {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  font-family: var(--content-font);
  background: #ff0404e3;
  color: #fefefe;
  /* padding-right: 40px; */
  /* backdrop-filter: blur(5px); */
}

#gov_service_header_button:hover {
  color: #ffe58f;
}

@media only screen and (max-width: 480px) {
  #gov__service__header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    border-radius: 5px;
  }

  #gov_service_header_button:hover {
    color: #ffe58f;
  }
}

#col1 > div {
  color: #383838;
  font-family: poppins;
  font-size: 35;
}
#col2 {
  color: #383838;
}

#col3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardImage {
  padding: max(1vh, -4.5rem) 0.3rem;
  height: 90px;
  width: 90px;
  object-fit: cover;
}

.div--govServiceCards {
  /* border: 1px solid pink; */
  margin: 40px 20px;
}

#Card--Gov--Service {
  /* display: flex; */
  /* border: solid 1px blue; */
  height: 150px;
  width: min(85%, 420px);

  margin: auto;
  justify-content: center;
  align-items: center;
}

#gov--service--card--body {
  /* flex-grow: 1; */
  /* height: 100%;
    width: 100%; */
  margin: 0 !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#colImage {
  /* flex-grow: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#cardImage{
    width: 90px;
    aspect-ratio: 1;
}

#horizontalCardRow {
  /* border: solid 1px orange; */
  padding: 15px 0 15px 0;
}

.CardTitle-GovService {
  font-family: var(--content-font);
  font-size: clamp(1.5rem, 7vw + 1rem, .5rem);
  text-shadow: 0.01em 0.04em #474242;
  /* color: red; */
}
