



.singleArticleContainer{
    padding: 50px 20px 50px 20px;

}


.category__title {
    /* border: solid 5px red; */
    margin: 0 0 20px 0;
    padding: 0 0 0 30px;
    border-bottom: solid 1px #bdbdbd;
}

.categoryCard{
    margin: 20px 0 0 0;
}

.containerCategory{

}

.category__list{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding:  10px 5px 10px 5px;
    /* margin: auto; */
    box-sizing: border-box;
    width: 100%;
    border-bottom: solid 1px rgb(203, 198, 198);
    contain: content;
}

i.fa-star{
    display: flex;
    align-items: center;
    justify-content: center;
    color: tomato;
    padding: 0 10px 0 0
}

/* article */

.single{
    display: flex;
    gap: 50px;
    padding: 14px 8px 15px 8px;
}

.content{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.content > .Img__Header {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.userSingleView{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    border: solid 3px red;
    padding-left: 15px;
}

#cardImgAuthor{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* margin-right: 10px; */
    object-fit: cover;
}

.info h5 {
    margin: 0;
    padding: 0;
}
.info > p{
    padding: 0;
    margin: 0;
    color: #bdbdbd;
}



.articleBody{
    border: solid 3px red;
    /* margin: 0 15px 15px 15px; */
    padding: 30px;
}

.articleBody > h1 {
    text-align: left;
    margin: 0 0 35px 0;
}
.articleBody > p{
    text-align: justify;
}