::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 203, 119); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(159, 159, 159); 
}

.card-downloadbale-body {
  .card-downloadbale-banner {
    background-image: url("../../../../Img/Bulan-Tourism/bulan1.jpg");
    // border: solid 2px brown;
    height: 475px;
    position: relative;
    // overflow: hidden;
    background-size: auto cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    display: flex;
    flex-direction: column;
    // align-items: center;
     justify-content: center;
    // border: solid yellow 2px;
    .downloadable-page-title {
      z-index: 1;
      margin: 24px 16px 88px 16px;
      padding: 8px 16px 48px 16px;
     
      // border: solid red 2px;
      & h1 {
        font-size: 3.9rem;
        color: #2ee778;
      }

      & .span-bar {
        margin: 10px 0;
        height: 4px;
        width: 11rem;
        background-color: #2ee778;
        z-index: 1;
      }

      & .span-bar::after {
        margin: 10px 110px;
        display: block;
        content: "";
        height: 4px;
        width: 4.2rem;
        background-color: #d5e72e;
        z-index: 1;
      }
    }
  }
  .card-downloadbale-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 475px;
    z-index: -1;
    background-color: rgba(26, 22, 28, 0.797);
  }

  // FOR CLIP PATH
  .custom-shape-divider-bottom-1685689813 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1685689813 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 87px;
  }

  .custom-shape-divider-bottom-1685689813 .shape-fill {
    fill: #ffffff;
  }
  //
  .Filter-Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: solid 2px greenyellow;
    border: solid 1px #ccc;
    margin: 16px 28px;
    padding: 16px 24px;
    background-color: #f0f0f0;
    & .downloadables_searchbar {
      width: min(85%, 600px);
      margin: 4px 8px;

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        // border: solid 4px black;
      }
    }
  }

  .card-downloadbale-container {
    margin: 16px 28px;
    // border: solid 2px blue;
    overflow-y: scroll;
    border-radius: 5px;
    height: 550px;
    // border: 1px #333;
    padding: 10px;
    box-shadow: 4px 4px 6px #888888;
    //Row downloadcard
    .download-Cards {
      // display: flex;
      // flex:1 2px 3px;
      
      margin: 18px 12px;
      border: 1px solid #ccc;
      // border: solid 2px orange;
      border-radius: 5px;
      background-color: #f3f2f2;

      // ROW -> Col1
      .mimetype-icons-div {
        // icons
        .icon-downloadables {
          font-size: 3.6rem;
        }
      }
      // ROW -> Col2
      //card download body
      .card_downloable_title {
        margin: 6px 16px 1px 16px;
        // width: min(100%, 900px);
        h5 {
          padding: 8px 12px;
          // ellipsis
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      // card file info
      .card_downloable_info {
        margin: 1px 16px 6px 16px;
        padding: 8px 12px;
        // width: 100%;

        p {
          font-weight: 700;
          margin: 0;
        }
      }

      //ROw-> COl3

      // card action (buttons)
      .card_downloadble_action {
        margin: auto;
        padding: 8px 26px;

        & button {
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          font-weight: bold;
          width: 100%;
          // text-decoration: none !important;
          border: none;
          color: whitesmoke;
          background-color: green;
          padding: 8px 16px;
          border-radius: 5px;
        }
      }
    }
  }

  .card-downloadbale-container-noresult {
    margin: 16px 28px;
    // border: solid 2px blue;
    // overflow-y: scroll;
    border-radius: 5px;
    height: 450px;
    // border: 1px #333;
    padding: 10px;
    box-shadow: 8px 10px 18px #888888;
    //Row downloadcard
    
  }

  // Pagination
  .div-Pagination{
    margin-top: 28px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    font-weight: bold;
    // color: #2ee778;
    box-shadow: 8px 8px 20px #888888;
  }
}

.file_info {
}
