.button__gotoTop {
  display: none;
  /* right: -40px; */
    position: fixed;
    bottom: 30px ;
  right: 32px ;
  z-index: 9999 ;
    font-size: 15px ;
    line-height: 1.5 ;
    padding: 10px 20px ;
    background-color: grey;
    color: #fff;
    border: none ;
    border-radius: 50%;
    cursor: pointer ;

    opacity: 0;
  transition: opacity 0.5s ease-in-out; 

}

.button__gotoTop.show {

}

.button__gotoTop {
  display: block;
  opacity: 1; 
}


.scroll-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .scroll-top-button.show {
    display: block;
    opacity: 1;
  }

.div {
  display: flex !important;
  justify-content: flex-end !important;
}
