.div--ArticleCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 16px;
  /* margin: 16px 8px;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  max-width: 100%;  */
  /* margin: 0 auto;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  max-width: 100%; */
}
.Card--BodyArticle {
  padding: 14px;
  
}

.Card--BodyArticle .tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: auto;
  padding: 2px 10px;
  text-transform: uppercase;
}
.Card--Article {
  /* width: calc(33.33% - 10px); */
  width: min(85%, 300px);
  /* margin: 10px; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  /* flex: 1 1 4rem; */
  flex-wrap: wrap;
  padding: 10px 12px;
  margin: 10px 16px;
  align-self: normal;
  border-radius: 16px;
  box-shadow: 2px 3px  8px -2px;
  /* border: solid 2px pink; */
  
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
  /* display: flex;
    flex-direction: column;
    flex: 1 1 11rem;
    flex-wrap: wrap;
    padding: 10px 12px;
    margin: 10px 5px;
    align-self: normal; */
}

.Card--Article:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


@media screen and (max-width: 768px) {
  .Card--Article {
    width: calc(100% - 10px);
    padding: 10px 12px;
  }
}

.Card--BodyArticle .tag-teal {
  background-color: #92d4e4;
}

.Card--BodyArticle .tag-purple {
  background-color: #3d1d94;
}

.Card--BodyArticle .tag-pink {
  background-color: #c62bcd;
}

.Article-CardTitle {
  font-family: var(--header-font);
  font-size: 22px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pArticle {
  font-family: var(--content-font);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  color: rgb(70, 68, 68);
  /* border: solid 1px red; */
}

/* .Img__CardAuthor {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  margin-top: auto;
  border: solid purple 2px
} */
.Img__ArticleCard{
  /* width: 100%; */
  height: 150px;
  /* border: solid purple 2px; */
  object-fit: cover;
  border-radius: 8px;
  
  /* padding:  0 !important;
  margin: 0 !important; */
}

.lnk-readmore {
  padding: 10px 15px;
  margin-top: auto;
  text-align: start;
  color: rgb(50, 26, 184);
  background-color: transparent;
  text-decoration: none;
}

.lnk-readmore:visited {
  color: rgba(50, 26, 184, 0.884);
  background-color: transparent;
  text-decoration: none;
}
.lnk-readmore:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.lnk-readmore:active {
  color: rgb(0, 255, 34);
  background-color: transparent;
  text-decoration: underline;
}
