*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Link>btn{
    border-radius: 16px !important;
}

#newsPubContainer{
    border: 5px solid red;
    /* margin: 30px 5px; */
}

#cardRow{
    margin: 0;
}