@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$bgdiv: #f6f9fb;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --bgdiv: #{$bgdiv};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}
.carousel-item {
  height: 650px;
}

.carousel-item img {
  /* max-height: 650px; */
  /* width:"1920px"; */
  height: "1080px";
  width: 100%;
  object-fit: contain;
}

@media (max-width: 480px) {
  .carousel-item img {
    height: 580px;
    width: 100%;
    object-fit: cover;
  }
}

.div-carousel-img1 {
  // height: min(85%, 500px);
}

.carousel-img1 {
  opacity: 95%;
  filter: blur(0.6px);
}

.carousel-caption1 {
  position: relative;
  filter: blur(none) !important;
  border: solid 2px yellow;
  width: min(95%, 40rem);
  // min-height: 14rem;

  .div-carousel-desc {
    border: solid 2px red;
    .crsl-spn-1,
    .crsl-spn-2 {
      position: absolute;
      top: 40px;
      color: #fefefe;
      font-weight: 800;
      font-size: 3.6em;
      font-family: var(--content-font);
    }

    .crsl-spn-1 {
      top: -25rem;
      left: 7rem;
      // width: 40%;
      transform: translateX(50%) translateY(-200%) scale(2);
      transition: transform 2s, scale 2s;
    }

    .crsl-spn-1.loaded {
      top: -25rem;
      left: 7rem;
      transform: translateX(0) translateY(0) scale(1);
    }

    .crsl-spn-2 {
      top: -21rem;
      left: 7rem;
      transform: translateX(50%) translateY(-400%) scale(2);
      transition: transform 1.5s, scale 1.5s;
    }

    .crsl-spn-2.loaded {
      top: -21rem;
      left: 7rem;
      transform: translateX(0) translateY(0) scale(1);
    }

    .crsl-spn-1 b,
    .crsl-spn-2 b {
      color: greenyellow;
    }

    .crsl-p {
      opacity: 0;
      position: absolute;
      top: -16rem;
      left: 7rem;
      font-family: var(--content-font);
      font-size: 2em;
    }
    
    .crsl-p.loaded2{
      opacity: 1;
      transition: opacity 3s;
    }

    .crs1-btn {
      opacity: 0;
      position: absolute;
      padding: 5px 15px;
      color: #fefefe;
      border: none;
      background-color: rgba(255, 0, 0, 0.845);
      bottom: 200px;
      left: 113px;
      border-radius: 5px;
    }

    .crs1-btn.loaded2{
      opacity: 1;
      transition: opacity 3s;
    }
  }

  @media screen and (max-width: 480px) {
    .div-carousel-desc {
      
      // .crsl-spn-1,
      // .crsl-spn-2 {
      //   position: absolute;
      //   color: #fefefe;
      //   font-weight: 800;
      //   font-size: 3.6em;

      //   font-family: var(--content-font);
      // }

      // .crsl-spn-1 {
      //   top: -40rem;
      //   left: 2rem;
      //   transform: translateX(50%) translateY(-400%) scale(2);
      //   transition: transform 1.5s, scale 1.5s;
      // }
      // animation
      .crsl-spn-1.loaded {
        top: -32rem;
        left: 1rem;
        line-height: 0.9;
        transform: translateX(0) translateY(0) scale(1);
      }

      // .crsl-spn-2 {
      //   top: -27rem;
      //   left: 1rem;
      //   transform: translateX(50%) translateY(-400%) scale(2);
      //   transition: transform 1.5s, scale 1.5s;
      // }

      .crsl-spn-2.loaded {
        top: -24rem;
        line-height: 0.9;
        left: 1rem;
        transform: translateX(0) translateY(0) scale(1);
      }

      .crsl-spn-1 b,
      .crsl-spn-2 b {
        color: greenyellow;
      }

      .crsl-p {
        position: absolute;
        top: -17rem;
        left: 1rem;
        font-family: var(--content-font);
        font-size: 2em;
      }

      .crs1-btn {
        position: absolute;
        padding: 8px 25px;
        color: #fefefe;
        border: none;
        background-color: rgba(211, 1, 1, 0.845);
        bottom: 9em;
        left: 7em;
        border-radius: 5px;
      }
    }

    .div-carousel-img1 {
      // height: min(85%, 500px);
    }
  }
}

// Animation Slide 1!

.unloaded {
}

.loaded {
  transform: translateX(0) translateY(0);
  scale: 1;
}

.loaded2{
  opacity: 0;
}
.carousel-caption1 p {
}
