@use "sass:meta";
// @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display&display=swap");

// [Section] Colors

$primary-main-nav: #05d194;
$primary-main-nav-drk: #04b882;
$accent-main-nav: #53f461;
$warn-main-nav: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;
$gradient-colors: #05d194, #53f461;

// [Section] Fonts

$banner-header-font: "Lora", serif;
$banner-content-font: "Playfair Display", serif;

:root {
  // !! COLORS
  --primary: #{$primary-main-nav};
  --primary-drk: #{$primary-main-nav-drk};
  --accent: #{$accent-main-nav};
  --warn: #{$warn-main-nav};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --banner-header-font: #{meta.inspect($banner-header-font)};
  --banner-content-font: #{meta.inspect($banner-content-font)};
}

// ! <>

.dateTimeBody {
  /* background-image:linear-gradient(to right,  #05d194, #53f461); */
  background-image: url("../../Img/gradient-vector-green.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  padding: 10px 25px 10px 25px;
  margin: 0;
  /* display: flex;
align-items: center;
justify-content: space-between; */
  height: min(95vh, 160px);

  .container-dateTimeBody {
    //[Section] 1st row
    /* BANNER CONTENTS */
    .banner-row {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-between;

      .col-lgu-bulan-logo {
        /* border: 2px solid pink; */

        // [Section] Inner ROW Start
        .wrapper-lgu-bulan {
          //inner row logo and title
          .banner_inner_row {
            //

            // 1st inner column logo and title column
            .col_lgu_bulan_logo {
              display: flex;
              justify-content: center;

              // BULAN LOGO
              .lgu_bulan_logo {
                width: min(90%, 9rem);

                aspect-ratio: 1;
              }
            }

            // 2nd inner column title column
            .col_lgu_bulan_name {
              font-size: 5rem;

              & h1 {
                font-family: "Playfair Display", serif;

                font-weight: bolder;
                color: #dfa612;
                text-shadow: 2px 2px 2px #383838;
              }
              // UnderLine
              .underline-banner {
                background: white;
                width: min(85%, 400px);
                padding: 1px;
              }
              & h3 {
                font-family: "Playfair Display", serif;
                font-weight: 800;
                color: #ffffff;

                text-shadow: 2px 2px 2px #383838;
              }
            }
          }
        }
        // [Section] Inner ROW end
      }

      //[Section] 2nd column

      .col-date-time {
        .container-date-time {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .dateTime {
            font-family: "Playfair Display", serif;
            font-size: 1.6rem;
            text-shadow: 2px 2px 2px #383838;
            color: antiquewhite;
          }

          .p_OfficeHrs {
            font-family: "Playfair Display", serif;
            font-size: 1.2rem;
            font-weight: 500;
            color: rgb(203, 227, 45);
            text-shadow: 2px 2px 2px #383838;
            margin: 0;
          }
        }
      }
    }
  }
}

// /* BANNER CONTENTS  END*/

/* MEDIA QUERIES */

@media only screen and (max-width: 576px) {
  .dateTimeBody {
    /* background-image:linear-gradient(to right,  #05d194, #53f461); */
    /* background-image: url("../../Img/gradient-vector-green.jpg");
        background-repeat: no-repeat, repeat;
        background-position: center;
        background-size: cover; */
    padding: 0 25px 0 25px;
    margin: 0;

    height: min(100vh, 180px);
  }
  .myRow {
    flex-direction: column;
    align-items: center;
  }

  // LOGO

  .col_lgu_bulan_logo {
    padding: 0 0 0 5px !important;
  }
  .lgu_bulan_logo {
    width: min(100%, 7.3rem);

    aspect-ratio: 1;
  }

  // date time
  .col-date-time {
    padding: 8px;
    border: aqua solid 2px;
    .container-date-time {
      display: flex;

      align-items: center !important;

      .dateTime {
        color: antiquewhite;
      }

      .p_OfficeHrs {
        color: rgb(203, 227, 45);
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 481px) {
  .dateTimeBody {
    background-image: url("../../Img/gradient-vector-green.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 25px 10px 25px;
    margin: 0;

    height: min(100vh, 260px);

    .container-dateTimeBody {
      //[Section] 1st row
      /* BANNER CONTENTS */
      .banner-row {
        .col-lgu-bulan-logo {
          /* border: 2px solid pink; */

          // [Section] Inner ROW Start
          .wrapper-lgu-bulan {
            //inner row logo and title
            .banner_inner_row {
              //

              // 1st inner column logo and title column
              .col_lgu_bulan_logo {
                margin: auto;
                // BULAN LOGO
                .lgu_bulan_logo {
                  aspect-ratio: 1 / 1;
                  margin: 8px 0;
                  padding: 8px 0;
                }
              }

              // 2nd inner column title column
              .col_lgu_bulan_name {
                border: aqua 2px solid;
                padding-left: 20px;

                & h1 {
                  font-family: "Playfair Display", serif;

                  font-style: bold;
                  color: #dfa612;
                  text-shadow: 2px 2px 2px #383838;
                }
                // UnderLine
                .underline-banner {
                  background: white;
                  width: min(85%, 400px);
                  padding: 1px;
                }
                & h3 {
                  font-family: "Lora", serif;
                  font-weight: 400;
                  color: #fefefe;
                  font-style: italic;
                  text-shadow: 2px 2px 2px #383838;
                }
              }
            }
          }
          // [Section] Inner ROW end
        }

        //[Section] 2nd column

        .col-date-time {
          .container-date-time {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .dateTime {
              /* padding: 5px 25px; */
              color: antiquewhite;
            }

            .p_OfficeHrs {
              color: rgb(203, 227, 45);
              margin: 0;
            }
          }
        }
      }
    }
  }
}
