:root {
  /* ===== Colors ===== */
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

#body-div {
  min-height: 100vh;
  background-color: white;
}
#body-div.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--black-light-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b3cc1;
}

// *none
#body-div.dark::-webkit-scrollbar-thumb:hover,
#body-div.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3a3b3c;
  // background: green;
}

.Sidebar--Nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  // padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);

  &.close {
    width: 73px;
    // background-color: #4da3ff;
  }

  &.close .div_Sidebar_Nav_Brand {
    .span_Sidebar_logo_name {
      opacity: 100 !important;
      pointer-events: none;
      font-size: 1.3em;
      font-weight: 600;
      color: var(--text-color);
      margin-left: 14px;
      transition: var(--tran-05);
      // border: solid 2px violet;
    }

    .div_Sidebar_image img {
      width: 100px !important;
      object-fit: cover !important;
      border-radius: 50% !important;
      // border: solid 2px violet;
    }
  }

  // ! BRAND START
  .div_Sidebar_Nav_Brand {
    margin: 16px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    // background-color: orange;

    & .span_Sidebar_logo_name {
      pointer-events: none;
      font-size: 1.3em;
      font-weight: 600;
      color: var(--text-color);
      margin-left: 14px;
      transition: var(--tran-05);
      // border: solid 2px violet;
    }

    .div_Sidebar_image {
      display: flex;
      justify-content: center;
      min-width: 45px;
    }
    .div_Sidebar_image img {
      width: 100px !important;
      object-fit: cover !important;
      border-radius: 50% !important;
      transition: var(--tran-05);
      // border: solid 2px violet;
    }
  }

  // .div_Sidebar_image {
  //   display: flex;
  //   justify-content: center;
  //   min-width: 45px;
  // }

  // ! Brand - close
  // &.close .div_Sidebar_Nav_Brand {
  &.close .div_Sidebar_Nav_Brand {
    // opacity: 0;
    // opacity: 100%;
    margin: 16px 8px;
    pointer-events: none;
    // background-color: #e1fc18;

    .div_Sidebar_image img {
      // margin: 15px;
      width: 60px !important;
      object-fit: cover !important;
      border-radius: 50% !important;
      transition: var(--tran-05);
      // border: solid 2px violet;
    }

    .span_Sidebar_logo_name {
      opacity: 0 !important;
      font-size: 1.3em;
      font-weight: 600;
      color: red;
      margin-left: 14px;
      transition: var(--tran-05);
      // border: solid 2px violet;
    }
  }

  // ! BRAND END
  & > .span_Sidebar_logo_name {
    opacity: 0;
    // font-size: 1.3em;
    // font-weight: 600;
    // color: black;
    // margin-left: 14px;
    // transition: var(--tran-05);
    // border: solid 2px violet;
  }

  & .Sidebar--menu-items {
    margin-top: 40px;
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & li {
      list-style: none;
    }

    & li a {
      display: flex;
      align-items: center;
      height: 50px;
      color: #707070;
      text-decoration: none;
      position: relative;
      // border: solid 3px  green;
    }
    // Dot hover in side bar menu items
    & {
      // menu items
      .Sidebar--nav-links,
      .logout-mode {
        padding: 0;
      }

      li:hover {
        background-color: rgb(112, 112, 112, 0.2);
      }

      & a {
        padding: 10px;
      }
      // DOT when hovered menu items
      .Sidebar--nav-links li a:hover:before {
        content: "";
        position: absolute;
        left: 4px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        // border: solid 2px violet;
        background-color: yellowgreen;
      }
    }
    // icons menu item side bar
    & li a i {
      font-size: 18px;
      min-width: 45px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--black-light-color);
      // border: solid 2px rgb(139, 0, 118);
    }

    & li a .link-name {
      font-size: 17px;
      font-weight: 400;
      color: var(--black-light-color);
      transition: var(--tran-05);
      // border: solid 2px darkcyan;
    }
    & ul li a:hover .fa-solid {
      color: yellowgreen;
      // background-color: brown;
    }

    & ul li a:hover .link-name {
      color: yellowgreen;
      // background-color: brown;
    }

    & .logout-mode {
      padding-top: 10px;
      border-top: 1px solid var(--border-color);
    }

    & .mode {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    & .mode-toggle {
      position: absolute;
      right: 20px;
      height: 50px;
      min-width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}
.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}

#body-div.dark .switch:before {
  left: 20px;
}
// #body-div.dark .switch-mode:before{
//   left: 20px;
// }
// *none
#body-div.dark li a:hover:before {
  // background-color: var(--text-color);
  // background-color: red;
}

.Sidebar--Nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.Sidebar--Nav-links li a:hover i,
.Sidebar--Nav-links li a:hover .link-name {
  color: var(--primary-color);
}

// ! DARK MODE
// *none
#body-div.dark .Sidebar--Nav-links li a:hover i,
#body-div.dark .Sidebar--Nav-links li a:hover .link-name {
  color: var(--text-color);
  // color: red;
}

#body-div.dark .switch:before {
  left: 20px;
}
// ! DARK MODE END

.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 65px 18px 15px 18px;
  transition: var(--tran-05);
  background-color: #d3d2d2;

  /* Styling for the switch component */
}
.Sidebar--Nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
  // background-color: #4da3ff;
}
.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px 20px 38px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
  margin: 0 0 25px 0;
  // border: red solid 1px;
}
.Sidebar--Nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 350px;
  width: 100%;
  margin: 0 30px;
}

// !DASHBOARD TOP 

.top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px 20px 38px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
  border-bottom: solid 2px #dfdbdb;
  // border-bottom: solid 2px #dfdbdb;

  & .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
  }
  & .search-box i {
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
  }
  & .current-user-dashboard-top {
    border: red solid 2px;
    
    // bell
    .top-bell,
    .span-currentuser,
    img{
      margin: 0 15px 0 15px ;
    }
    .top-bell{
      
    }

    .span-currentuser{

    }

    img {
      width: 40px;
      border-radius: 50%;
      // margin: 0 15px 0 15px ;
    }
    // width: 40px;
    // border-radius: 50%;
  }
}
// .top .search-box input {
//   position: absolute;
//   border: 1px solid var(--border-color);
//   background-color: var(--panel-color);
//   padding: 0 25px 0 50px;
//   border-radius: 5px;
//   height: 100%;
//   width: 100%;
//   color: var(--text-color);
//   font-size: 15px;
//   font-weight: 400;
//   outline: none;
// }
// .top .search-box i {
//   position: absolute;
//   left: 15px;
//   font-size: 22px;
//   z-index: 10;
//   top: 50%;
//   transform: translateY(-50%);
//   color: var(--black-light-color);
// }
// .top img {
//   width: 40px;
//   border-radius: 50%;
// }

// DARK MODE FOR TOP
#body-div.dark .span-currentuser,
.search-box i {
  color: var(--toggle-color);
}

#body-div.dark .top-bell {
  color: var(--toggle-color);
}
//!TOP ENd

// dashboard content / lower

// CONTENT AREA
.side-content-area{
  margin: 40px 16px 15px 16px;
  padding: 16px 14px;
  border:yellow solid 2px;
  // height: min(80%, 750px);
  background-color: #fefefe;
  min-height: 32rem;
}
// 
.dashboard .dash-content {
  // margin-top:10px;
  // padding-top: 90px;
  // border: red solid 1px;
  padding: 12px 24px ;
  // border:green solid 2px;
}
.dash-content .title {
  display: flex;
  align-items: center;
  margin: 25px 0 30px 0;
}
.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
 
}
.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}
.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}
.boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}
.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box.box2 {
  background-color: var(--box2-color);
}
.boxes .box.box3 {
  background-color: var(--box3-color);
}
.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.activity .activity-data {
  display: flex;
}
.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.activity-data .data-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}
.activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}

@media (max-width: 1000px) {
  .Sidebar--Nav {
    width: 73px;
  }
  .Sidebar--Nav.close {
    width: 250px;
  }
  .Sidebar--Nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  .Sidebar--Nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  .Sidebar--Nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  .Sidebar--Nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  .Sidebar--Nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  .Sidebar--Nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  .Sidebar--Nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  .Sidebar--Nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
  .activity .activity-data {
    overflow-x: scroll;
  }
}

@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }
}
@media (max-width: 400px) {

  .top{

    padding-left: 16px;
    
    .sidebar-toggle{
      // padding-left: 0;
    }
  }

  .Sidebar--Nav {
    width: 0px;
  }
  .Sidebar--Nav.close {
    width: 73px;
  }
  .Sidebar--Nav .logo_name {
    opacity: 1;
    pointer-events: none;
  }
  .Sidebar--Nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  .Sidebar--Nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  .Sidebar--Nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  .Sidebar--Nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  .Sidebar--Nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  .Sidebar--Nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  .Sidebar--Nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}
