@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

$primary: #81899b;
$accent: #302e24;
$warn: #dfa612;
$title-color: #2ee778;
// $headerfont-color: #2ee778 #383838;
$content-color: #383838;
// $contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --title-color: #{$title-color};
  --contentfon-color: #{$content-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

.HistoryTown-div-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 4px 4px 18px;
  margin: 24px 32px;
  padding: 24px 32px;

  // bar
  & .span-bar {
    margin: 10px 0;
    height: 4px;
    width: 11rem;
    background-color: #1bc45f;
    z-index: 1;
  }

  & .span-bar::after {
    margin: 10px 110px;
    display: block;
    content: "";
    height: 4px;
    width: 4.2rem;
    background-color: #c6d639;
    z-index: 1;
  }
  // end bar

  & .sub-title1 {
  }

  & .sub-title2 {
  }

  .history-content {
    font-family: var(--content-font);
  }
  .First-Desc {
    & h1 {
      font-family: var(--header-font);
      color: var(--title-color);
    }
  }
}
