:root{
    /* ===== Colors ===== */
    /* --primary-color: rgb(23, 230, 26); */
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}




*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--header-font);
}

body{
    /* min-height: 100vh; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow-x: hidden;
    /* background-color: var(--primary-color); */
}

.nav-link:hover{
    color: #d7fc54;
 }
 
#appContainer{
    padding: 0 !important;
}
i{
    /* color: red; */
    font-weight: 900px;
    
}

/* auto fill from google password messes up transparent forms solution for now*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #f5eeee !important;
}
  