@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap');
@use "sass:meta";

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color:#7a7a7a;


// [Section] Fonts

$header-font: 'Poppins', sans-serif;
$content-font:'Source Serif Pro', serif;



:root {
    // !! COLORS
    --primary: #{$primary};
    --accent: #{$accent};
    --warn: #{$warn};
    --headerfont-color: #{$headerfont-color};
    --contentfon-color: #{$contentfont-color};

    // !! FONTS
    --header-font: #{$header-font};
    --content-font: #{$content-font};
}